@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");

:root {
  --primarycolor: #5b21b6;
}
.App {
  font-family: "Concert One", cursive;
  text-align: center;
  font-size: 4ex;
}

span {
  color: var(--primarycolor);
}

input {
  height: 80%;
  width: 80%;
  padding: 1rem;
  border: 2px solid var(--primarycolor);
  border-radius: 200px;
}

emojidictionary {
  color: var(--primarycolor);
}

.footer {
  text-align: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 0.5rem 0rem;
  font-size: 18px;
  position: absolute;
  width: 50%;
  bottom: 10px;
}
